:root {
	--textColor: black;
	--backgroundColor: lightgrey;
	--linkColor: darkblue;
	--quoteColor: black;
	--tableColor: black;
	--tableOddBackgroundColor: rgba(0, 0, 0, 0.25);
	--tableEvenBackgroundColor: rgba(0, 0, 0, 0.1);
	--navBackgroundColor: rgba(211, 211, 211, 0.8);
}

@media (prefers-color-scheme: dark) {
	:root {
		--textColor: lightgrey;
		--backgroundColor: black;
		--linkColor: lightblue;
		--quoteColor: white;
		--tableColor: darkgrey;
		--tableOddBackgroundColor: rgba(255, 255, 255, 0.25);
		--tableEvenBackgroundColor: rgba(255, 255, 255, 0.1);
		--navBackgroundColor: rgba(0, 0, 0, 0.8);
	}
}

body {
	background-color: var(--backgroundColor);
}

body a {
	color: var(--linkColor);
}

body h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
hr,
code,
table {
	color: var(--textColor);
}

blockquote {
	border-left: 2px solid var(--quoteColor);
	margin-left: 0px;
}

blockquote p {
	padding-left: 20px;
	font-style: italic;
}

table {
	border-collapse: collapse;
	padding: 5px;
	width: 100%;
	max-width: 612px;
}

table th {
	border: 2px solid var(--tableColor);
}

table tr td {
	font-family: monospace;
	padding: 5px;
	border: 2px solid var(--tableColor);
}

table tr:nth-child(odd) td {
	background-color: var(--tableOddBackgroundColor);
}

table tr:nth-child(even) td {
	background-color: var(--tableEvenBackgroundColor);
}

code {
	font-family: monospace;
}

nav {
	border-right: 1px var(--textColor) solid;
	background-color: var(--navBackgroundColor);
	padding: 10px;
	gap: 12px;
	min-width: 132px;
	max-width: 132px;
	display: flex;
	flex-direction: column;
}

nav hr {
	width: 100%;
}

nav a {
	text-decoration: none;
}

#pride {
	position: fixed;
	top: 0;
	right: 0;
}

main {
	font-family: sans-serif;
	display: flex;
	flex-direction: row;
	gap: 20px;
}

header {
	display: flex;
	align-items: center;
	gap: 40px;
}

header p {
	font-family: sans-serif;
}

.images,
.links {
	display: flex;
	flex-direction: column;
	min-width: 132px;
	max-width: 132px;
	gap: 12px;
}

.active {
	font-weight: bold;
}

#censor,
#picture {
	margin: 0 auto;
	height: auto;
}

#censor {
	width: 115px;
}

#picture {
	width: 132px;
}

article {
	max-width: 612px;
	width: 100%;
}

img,
video {
	max-width: 400px;
	width: 100%;
	height: auto;
}

.letter-break {
	line-break: anywhere;
	user-select: all;
}

li + li {
	margin: 6px 0;
}

.about-blank {
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.about-blank p {
	color: gray;
}

@media screen and (max-width: 810px) {
	#pride {
		top: -30px;
		right: -30px;
		transform: scale(0.5);
	}
}

@media screen and (max-width: 450px) {
	main {
		flex-direction: column;
	}
	nav {
		border: unset;
		border-bottom: 1px var(--textColor) solid;
		flex-flow: wrap;
		min-width: unset;
		max-width: unset;
		justify-content: space-around;
		flex-direction: column-reverse;
		position: sticky;
		top: -90px;
	}
	nav hr {
		display: none;
	}
	.links {
		border: unset;
		flex-flow: wrap;
		min-width: unset;
		max-width: unset;
		justify-content: space-around;
	}

	.images {
		flex-flow: wrap;
		min-width: unset;
		max-width: unset;
		justify-content: space-between;
	}

	#picture,
	#censor {
		height: 80px;
		width: auto;
	}
	
	.badge {
		width: 58px;
	}
}